.deathScreen {
  z-index: 99999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: scroll;
}

.deathScreenWithout {
  z-index: 99999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 40px 40px;
  display: flex;
  overflow: scroll;
  /*justify-content: center;
  justify-items: center;
  align-items: center;*/
}

.background {
  background-color: #0000aa;
}

.errorText {
  color: floralwhite;
  margin: 0 auto;
  font-size: 22px;
  font-family: monospace;
  padding: 2px 0px;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}